%h3 Meet my friends

%ul.no_bullet.no_indent
  %li
    = link_to "Luca Tironi", "http://www.lucatironi.net"
    &#8208; my colleague and friend at the SDA Bocconi Learning Lab. Simply one of the smartest web app developers, hackers and thinkers I know.

  %li
    = link_to "Jesper Bergmann's blog", "http://www.jesperbergmann.com/"
    &#8208; a Dane in Italy. He was a classmate of mine at EMIT. He's an expert of product design and architecture, as well as a great reporter of the italian startup scene and author of many sharp articles about business.

  %li
    = link_to "Objectless Observations", "http://objectlessobservations.tumblr.com/"
    &#8208; Steven Richards is from Detroit, he's fond of sports cars, and is a Bocconi student looking for opportunities to start up a business. For all these reasons and more, I think he's one of the most interesting people around in Bocconi University.

  %li
    = link_to "Silvio Revelli", "http://www.silviorevelli.com/"
    &#8208; Silvio is a good friend of mine, a former engineering classmate, an inventor and web expert. I bet he's gonna make a big deal of money pretty soon, so I'm just waiting to be hired by him. Alternatively, I'll hire him and put his talent at work to conquer the world.