
	<div class="shadow"><%= image_tag "/images/lucaongaro.jpg", :alt => "Luca Ongaro", :title => "Luca Ongaro", :name => "Luca Ongaro" %></div>
	<h3>Hello</h3>
	<p>I'm Luca Ongaro, a Robotics and Automation Engineer (B.Sc.) and a grad student in Economics and Management of Innovation and Technology (M.Sc.) at Bocconi University in Milan. This is my personal site, a place in the web where I like to tell my visitors something about myself and what I happen to find interesting. If you want to know a bit more about me, here is my brief biography:</p>

<p>I'm constantly reinforcing my expertise in many different fields, as I tend to see things as a whole, and give utmost importance to cross-competencies. I've always been attracted by anything I could learn: deep curiosity and desire to discover are by far the strongest forces that drive choices in my life. Above all, I like to understand how things work, to tinker, to experiment and to share creative applications of my knowledge. I find it natural to work out models of reality, and I always try to use this understanding to imagine and design new approaches or concepts.</p>

<p>Probably that's why I feel so comfortable in the incredibly various world of the Internet, the enormously huge ocean of information and culture in perpetual evolution. Apart from being an Internet surfer, I'm also a "web architect", since I've been developing websites and web 2.0 apps for years, with particular attention to the latest programming techniques, to usability and interfaces. Web development is an exciting job that makes me proud to be part of what I think to be the greatest cultural revolution of this century: Internet is, as to my view, extreme democracy and pop culture.</p>

<p>I have also many other passions, such as science and technology (it's not by chance that, as I said before, I graduated in Automation and Robotics Engineering at the Politecnico di Milano and that now I'm studying the economic and managerial side of technological innovation at the "EMIT" Master of Science at Bocconi University), music (I play electric guitar and sax) and photography. I love travelling and getting to know the world, and I expecially like european capital cities. Above all anyway, I like to spend my spare time with good friends and with my beautiful girlfriend (and it's surely the best time ever).</p>

	<h3>Quote</h3>
	<blockquote>
	  <%= Lipsum.paragraphs 1 %>
	</blockquote>

