#logo
  %h1
    = link_to image_tag("logo.png", :alt => "Luca Ongaro Web Developer"), @site.root.index, :title => "Luca Ongaro Web Developer"
#nav
  .left_tail
    .fold
  .right_tail
    .fold
  = partial :navigation
