= link_to(image_tag("http://lucaongaro.eu/Img/lucaongaro.jpg", :alt => "Luca Ongaro", :title => "Luca Ongaro"), "http://lucaongaro.eu/Img/lucaongaro.jpg", :title => "Luca Ongaro") 
%h3 Hello
%p
  I'm Luca Ongaro, web app developer and consultant based in Milan, Italy. I graduated in Automation and Robotics Engineering (B.Sc.) and I'm a grad student in Economics and Management of Innovation and Technology (M.Sc.) at Bocconi University. I currently work in the SDA Bocconi Learning Lab, where we develop innovative applications and simulations to support experiential learning in the Business School.

%p
  For this reason, I always tried (and hopefully managed) to develop my expertise in many different fields, as I tend to see things as a whole, and thus I give utmost importance to cross-competencies. I've always been attracted by anything I could learn: deep curiosity and desire to discover new things are by far the strongest forces that drive choices in my life. Above all, I like to understand how things work, to tinker, to experiment and to share creative applications of my knowledge. I find it natural to work out models of reality, and I always try to use this understanding to imagine and design new approaches or concepts.

%p
  I have also many other interests, such as playing the guitar and sax, reading cyberpunk novels and riding my motorcycle. I love traveling and getting to know the world. Above all, anyway, I like to spend my time with good friends and with my beautiful girlfriend.

