= link_to(image_tag("http://lucaongaro.eu/Img/lucaongaro.jpg", :alt => "Luca Ongaro", :title => "Luca Ongaro"), "http://lucaongaro.eu/Img/lucaongaro.jpg", :title => "Luca Ongaro") 
%h3 Hello
%p
  I'm Luca Ongaro, web app developer and consultant based in Milan, Italy. I graduated in Automation and Robotics Engineering (B.Sc.) and I'm grad student in Economics and Management of Innovation and Technology (M.Sc.) at Bocconi University.

%p
  I've always been attracted by anything I could learn: deep curiosity and desire to learn are by far the strongest forces that drive choices in my life. I live to discover, to tinker, to experiment and to share creative applications of my knowledge.

%p
  That's why I feel so comfortable in the incredibly various world of the Internet, the huge ocean of information and culture in perpetual and spontaneous evolution. I've been developing websites and web applications for years, with particular attention to style, usability and interface design. Web development is an exciting job that makes me proud to be part of what I think is the greatest cultural revolution of this century. Internet is, in my view, a laboratory of collective intelligence and pop culture.

%p
  I have also many other interests, such as playing the guitar and sax, reading cyberpunk novels and riding my motorcycle. I love traveling and getting to know the world. Above all, anyway, I like to spend my time with good friends and with my beautiful girlfriend.

