= link_to(image_tag("/images/lucaongaro.jpg", :alt => "Luca Ongaro", :title => "Luca Ongaro", :style => "margin-top: 5px;"), "/images/lucaongaro.jpg", :title => "Luca Ongaro") 
%h3 Hello
%p
  I'm Luca Ongaro, an Italian Web app developer and UX designer. I graduated in Automation and Robotics Engineering (B.Sc.) and then in Economics and Management of Innovation and Technology (M.Sc.) at Bocconi University.
  I am currently a Senior Ruby on Rails and JavaScript developer at
  == #{link_to "DaWanda", "http://www.dawanda.com"}
  in Berlin, Germany.
  I also manage #{link_to "several side projects", @current_group.find_page(:ideas)} in my spare time.

%p
  I'm constantly eager to develop my expertise in many different fields, and give utmost importance to cross-competencies. I love to discover, to understand how things work, to tinker, to experiment and to share creative applications of my knowledge. As a digital craftsman, I love to give body to great ideas.

%p
  I have also many other interests, such as playing the guitar and sax, reading cyberpunk novels and riding my motorcycle. I love getting to know the world. Above all, anyway, I like to spend my time with good friends and with my beautiful girlfriend.

